@model CompetitionTypeAdminModel

@{
    ViewData["Title"] = "DeleteCompetitionType";
}

<h2>Наистина ле желаете да изтриете Типа "@Model.Name"</h2>

<a href="/admin/deleteCompetitionType" class="btn btn-success">Да</a><a href="/admin/competitionTypes" class="btn btn-danger">Не</a>

