
@{
}

<div class="container">
    <div class="row">
        <h3>Страни</h3>
        <div class="col-lg-2">
            <a href="/admin/createCountry">Създай страна</a>
        </div>
        <div class="col-lg-10">
            <a href="/admin/countries">Страни</a>
        </div>
    </div>
    <div class="row">
        <h3>Градове</h3>
        <div class="col-lg-2">
            <a href="/admin/createCity">Създай град</a>
        </div>
        <div class="col-lg-10">
            <a href="/admin/cities">Градове</a>
        </div>
    </div>
    <div class="row">
        <h3>Футболисти</h3>
        <div class="col-lg-2">
            <a href="/admin/createFootballPlayer">Създай футболист</a>
        </div>
        <div class="col-lg-10">
            <a href="/admin/footballPlayers">Футболисти</a>
        </div>
    </div>
    <div class="row">
        <h3>Треньори</h3>
        <div class="col-lg-2">
            <a href="/admin/createFootballCoach">Създай треньор</a>
        </div>
        <div class="col-lg-10">
            <a href="/admin/footballCoaches">Треньори</a>
        </div>
    </div>
    <div class="row">
        <h3>Отбори</h3>
        <div class="col-lg-2">
            <a href="/admin/createFootballTeam">Създай отбор</a>
        </div>
        <div class="col-lg-10">
            <a href="/admin/footballTeams"> Отбори</a>
        </div>
    </div>
    <div class="row">
        <h3>Сезони</h3>
        <div class="col-lg-2">
            <a href="/admin/createSeason">Създай сезон</a>
        </div>
        <div class="col-lg-10">
            <a href="/admin/seasons">Сезони</a>
        </div>
    </div>
    <div class="row">
        <h3>Турнири</h3>
        <div class="col-lg-2">
            <a href="/admin/createTournament">Създай турнир</a>
        </div>
        <div class="col-lg-10">
            <a href="/admin/footballTournaments">Турнири</a>
        </div>
    </div>
    <div class="row">
        <h3>Типове сьстезания</h3>
        <div class="col-lg-2">
            <a href="/admin/createCompetitionType">Създай тип на състезание</a>
        </div>
        <div class="col-lg-10">
            <a href="/admin/competitionTypes">Типове сьстезания</a>
        </div>
    </div>
    <div class="row">
        <h3>Видове наказателни картони</h3>
        <div class="col-lg-2">
            <a href="/admin/createCardType">Създай вид картон</a>
        </div>
        <div class="col-lg-10">
            <a href="/admin/cardTypes">Видове картони</a>
        </div>
    </div>
    <div class="row">
        <h3>Видове голове</h3>
        <div class="col-lg-2">
            <a href="/admin/createGoalType">Създай вид гол</a>
        </div>
        <div class="col-lg-10">
            <a href="/admin/goalTypes">Видове голове</a>
        </div>
    </div>
    <div class="row">
        <h3>Причини за неучастие във футболна среща</h3>
        <div class="col-lg-2">
            <a href="/admin/createSidelineReason">Създай причина</a>
        </div>
        <div class="col-lg-10">
            <a href="/admin/sidelineReasons">Видове причини</a>
        </div>
    </div>
    <div class="row">
        <h3>Видове рефери</h3>
        <div class="col-lg-2">
            <a href="/admin/createRefereeType">Създай вид рефер</a>
        </div>
        <div class="col-lg-10">
            <a href="/admin/refereeTypes">Видове рефери</a>
        </div>
    </div>
    <div class="row">
        <h3>Рефери</h3>
        <div class="col-lg-2">
            <a href="/admin/createFootballReferee">Създай рефер</a>
        </div>
        <div class="col-lg-10">
            <a href="/admin/footballReferees">Рефери</a>
        </div>
    </div>

</div>