@model FootballRefereeTypeAdminModel

@{
    ViewData["Title"] = "DeleteRefereeType";
}

<h2>Наистина ли желаете да изтриете "@Model.Name"</h2>

<a href="/admin/deleteRefereeType" class="btn btn btn-success">Да</a><a href="/admin/refereeTypes" class="btn btn-danger">Не</a>
